.avatar_name{
    margin: 0;
    font-size: x-large;
    color: gray;
    font-weight: 600;
}
.points{
    margin: 0;
}
.points img{
    vertical-align: text-bottom;
}
.points_text{
    text-shadow: #7B5A00 2px 3px 4px;
    color: #FFC227;
    font-weight: 900;
    font-size: xx-large;
}
.comp_name{
    margin: 0;
    font-weight: 600;
}

p{
    font-size: 13px !Important;
}

a{
    font-size: 13px;
}

select{
    font-size: 10px;
}