<!DOCTYPE html>
<html lang="en">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0, user-scalable=no">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="msapplication-tap-highlight" content="no">
  <meta name="description" content="">
  <meta name="keywords" content="">
  <title>Contest.EduMongoose | Admin | problem</title>

  <!-- Favicons-->
  <link rel="icon" href="assets/images/favicon/favicon-32x32.png" sizes="32x32">
  <!-- Favicons-->
  <link rel="apple-touch-icon-precomposed" href="assets/images/favicon/apple-touch-icon-152x152.png">
  <!-- For iPhone -->
  <meta name="msapplication-TileColor" content="#00bcd4">
  <meta name="msapplication-TileImage" content="assets/images/favicon/mstile-144x144.png">
  <!-- For Windows Phone -->


  <!-- CORE CSS-->  
  <!-- <link rel="stylesheet" type="text/css" href="../assets/admin/css/ghpages-materialize.css">   -->
  <link href="../assets/plugins/materialize/css/materialize.css" type="text/css" rel="stylesheet" media="screen,projection">
  <link href="../assets/admin/css/admin.css" type="text/css" rel="stylesheet" media="screen,projection">


  <!-- INCLUDED PLUGIN CSS ON THIS PAGE -->    
  <link href="../assets/plugins/font-awesome/css/font-awesome.css" type="text/css" rel="stylesheet" media="screen,projection">
  <link href="../assets/plugins/perfect-scrollbar/perfect-scrollbar.css" type="text/css" rel="stylesheet" media="screen,projection">


</head>

<body>
  <!-- START HEADER -->
  <header>
      <nav class="top-nav">
        <div class="container">
          <div class="nav-wrapper">
            <a href="#" data-activates="nav-mobile" class="button-collapse top-nav full hide-on-large-only"><i class="fa fa-align-justify"></i></a>
            <span class="page-title">Dashboard</span>
          </div>
          
        </div>
      </nav>
      <ul id="nav-mobile" class="side-nav fixed">
        <li class="logo">
          <a href="#" class="brand-logo">
            <img src="../assets/images/logo.png">
          </a>
        </li>
        <li class="active bold"><a href="index.html">Dashboard</a></li>
        <li class="bold"><a href="create_problems.html">Problems</a></li>
        <li class="bold"><a href="judges.html">Judges</a></li>
      </ul>
    </header>
  <!-- //////////////////////////////////////////////////////////////////////////// -->

  <!-- START MAIN -->
  
<main>
    <div class="container">

      <div class="row">
        <div class="col m4">
           <div class="card blue-grey darken-1">
            <div class="card-content white-text center">
              <span class="card-title">0</span>
              <p>Number of reports</p>
            </div>
          </div>
        </div>
        <div class="col m8">
          <div class="card grey darken-1">
            <div class="card-content white-text">
              <span class="card-title">Card Title</span>
              <p>I am a very simple card. I am good at containing small bits of information.
              I am convenient because I require little markup to use effectively.</p>
            </div>
          </div>
        </div>
        <div class="col m12">
           <div class="card">
            <div class="card-content">
              <table class="responsive-table">
                <thead>
                  <tr>
                      <th data-field="id">ID</th>
                      <th data-field="date">Date</th>
                      <th data-field="Status">Status</th>
                      <th data-field="Problem">Problem</th>
                  </tr>
                </thead>

                <tbody>
                  <tr>
                    <td>x</td>
                    <td>xxx</td>
                    <td>xxx</td>
                    <td>xxx</td>
                  </tr>
                </tbody>
              </table>

              <div class="card center">
                <div class="card-content">
                <p>No reports found.</p>
                <a href="create_problems.html" class="btn">Create a problem</a>
                <a href="#" class="btn">Read documentation</a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>   
</main>

  <!-- END MAIN -->


<!-- ================================================
Scripts
================================================ -->
<script>
(function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
})(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

ga('create', 'UA-58515856-20', 'auto');
ga('send', 'pageview');

</script>
<!-- jQuery Library -->
<script type="text/javascript" src="../assets/plugins/jquery.min.js"></script>    
<!--materialize js-->
<script type="text/javascript" src="../assets/plugins/materialize/js/materialize.min.js"></script>
<script type="text/javascript" src="../assets/admin/js/init.js"></script>
<!--scrollbar-->
<script type="text/javascript" src="../assets/plugins/perfect-scrollbar/perfect-scrollbar.min.js"></script>       

<!-- Toast Notification -->
</body>

</html>